* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
 text-decoration: none; 
 color: #fff;  
}

.nav-bar {
  display: flex;
  width: 70%;
  height: 6vh;
  justify-content: center; 
  align-items: center; 
  border: 1px solid green;
  margin: 0 auto;
  /*background: linear-gradient(180deg, #666, #5e5e5e, #707070, #808080);*/
  background: linear-gradient(#858585, #717171 50%, #5e5e5e 50%, #777); 
  /*470px by 290px*/ 
  /*overflow: hidden;*/
}

.nav-about {
    border: 1px solid #858585;
    width: 7vw;
    text-align: center;
    padding: 11.5px;
    border-right-width: 1px solid rgb(80, 80, 81);
}

.nav-about:hover {
    background-color: rgb(80, 80, 81);  
    border: 1px solid red;
  }


#bg-img {
    background: url("hero.jpg") 55% 100% no-repeat;
    min-height: 69vh;
    /*position: relative;*/
    /*margin: 0 auto;*/
    width: 100%;
    /*padding-right: 10px;*/
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
  }

  #bg-img img {
    /*border: 1px solid purple;*/
    margin: 0 auto;
    width: 95%;  
  }

  .nav-container {  
    position: absolute;
    /*margin: 40px;*/
    width: auto;
    border: 1px solid blue;  
  }

  .search-input-icons {
    
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    /*border: 1px solid red;*/
    height: 3vh;
    display: flex;
    align-items: center;
  }

  .fa-sistrix {
    /*border: 1px solid red;*/
    width: 30px;
    height: 3vh;
    text-align: center;
    background-color: #fff; 
    padding-top: 4px; 
    margin-right: -5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /*margin-bottom: -2px;*/
  }

  input[type="search"] {
    width: 100px;
    height: 3vh;
    /*margin-bottom: -2px;*/
    justify-content: center;
    /*margin-right: 70px;*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;

    /*border: 1px solid green;*/
  }

  .search-input-icons input {
      border: none;
  }

  .footer-img {
    display: flex;
    justify-content: center; 
    width: 100%; 
    /*border: 1px solid blue;*/
    /*margin-left: 15px;
    margin-right: 15px*/
    flex-flow: row wrap;
  }

  .footer-last-section {
    /*border: 1px solid hotpink;*/
    display: flex;
    justify-content: center; 
    width: 100%;
    align-items: center;
    font-size: 11px;
    padding-top: 10px;
  }

  ul {
    list-style-type: none;
  }

  .footer-last-section-right {
     /*border: 1px solid black;*/
     display: grid;
     grid-template-columns: repeat(5, 1fr) 1.5fr 1fr 1fr;
     width: 35%;
     height: 5vh;
     
  }

  .footer-last-section-left {
      /*border: 1px solid blue;*/
      width: 40%;
      display: flex;
      flex-flow: column wrap    ;
      justify-content: space-around;
      height: 6vh;
      align-items: flex-start;
  }

  .right-border {
    /*border: 1px solid indigo;*/
    border-right: 1px solid rgb(236, 225, 225);
    text-align: center;
    height: 3vh;  
  }

  .right-border a {
     color: blue; 
  }

  /*#search-div {
    position: relative;
  }

  .fa-search {
    position: absolute;
    color: white;
    left: 11px;
    top: 7px;
    font-size: 12px;
  }*/